:root {
  --primary-color-blue: #105BBF;
  --color-border: #acacac;
}

* {
  box-sizing: border-box;
  overflow-wrap: anywhere;
  font-family: "Inter";
  font-optical-sizing: auto;

  /* -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important; */
}

@keyframes skeleton {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.8;
  }
}

body {
  min-width: 300px;
  background-color: #f3f3f3;
  margin: 0;
  color: #232323;
}

table {
  margin: auto;
  width: 100%;
}

tr {
  display: block;
}

td {
  display: block;
  margin-bottom: 1.2em;
}

img {
  object-fit: contain;
}

ol {
  margin: 0;
  padding-inline-start: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.report-not-found .report-not-found-message {
  padding: 1em 2em;
}

.logo {
  width: 200px;
}

button.print {
  border-radius: 5px;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid var(--primary-color-blue);
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;

  background-color: var(--primary-color-blue);
  color: #ffffff;
}

button.print:hover {
  background-color: #ffffff;
  color: var(--primary-color-blue);
}

.report-not-found-message {
  display: none;
}

.printable {
  max-width: 1000px;
  margin: 0 auto;
}

.first-page td {
  gap: 1.2em;
  column-gap: 1.2em;
}

.content-cards {
  display: block;
  padding: 1em 2em 3em 2em;
}

.content-card {
  display: flex;
  flex-direction: column;

  background-color: white;

  border: 1px solid var(--color-border);

  padding: 1.4em;
  border-radius: 10px;
  gap: 1em;

  margin-bottom: 1.2em;
}

.content-card:last-child {
  margin-bottom: 0;
}

.recruiter.content-card,
.candidate.content-card {
  flex-direction: row;
  gap: 0.6em;
}

.candidate-recruiter {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.candidate-recruiter>div {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.content-card-body {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 300;
}

.questionnaire-details .content-card-body {
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em 3em;
}

.full-width.list .content-card-body {
  font-weight: 300;
  gap: 1.4em;
}

.detail-item {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.content-card-title {
  text-align: left;
  font-size: 1em;
  font-weight: 600;
}

.name {
  text-align: left;
}

.email {
  text-align: left;
}

.content-card.full-width {
  column-span: none;
}

.content-card.no-border-padding-bg {
  padding: 0;
  border: none;
  background: none;
}

.detail-item .title {
  font-weight: 500;
}

.header-body-item-card {
  border: 1px solid var(--color-border);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}

.header-body-item-card .header {
  display: flex;
  justify-content: space-between;
  color: #024bdc;
  font-weight: 500;
  border-bottom: 1px solid var(--color-border);

  padding: 1.2em;
  text-transform: uppercase;
}

.header-body-item-card .body {
  display: flex;
  flex-direction: column;
  padding: 0.6em 1.2em 1.2em 1.2em;
  color: #232323;
}

.report-module-item.header-body-item-card .body {
  gap: 20px;
  padding-top: 1.2em;
}

.text-content .title {
  font-weight: 600;
}

.text-content .body {
  padding: 1em;
}

.report-modules,
.how-to-content {
  display: block;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1.2em;
  column-gap: 1.2em;
}

.score-gauge {
  max-height: 200px;
}

.printHeader {
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
  padding-top: 1.2em;
}

.printHeader {
  display: none;
}

.printHeader hr {
  flex: 1;
  height: 1;
  border: 1px solid #d0d0d0;
}

.printHeader img {
  height: 100%;
}

.printFooter {
  width: 100%;
  height: 30px;
  display: none;
}

.printFooter div {
  flex: 1;
}

.printFooter div:nth-of-type(1) {
  border-top: 20px solid #ffa559;
}

.printFooter div:nth-of-type(2) {
  border-top: 20px solid #fe7622;
}