@media (min-width: 393px) {
    button.print {
        padding: 1em 2em;
    }
}

@media (min-width: 590px) {
    .logo {
        width: auto;
    }

    .first-page {
        column-count: 2;
    }

    .content-card.full-width {
        column-span: all;
    }

    .questionnaire-details .content-card-body {
        column-gap: 6em;
    }
}

@media (min-width: 900px) {
    .recruiter.content-card,
    .candidate.content-card {
        column-span: none;
    }
}