.list.content-card,
.header-body-item-card {
  /* page-break-before: always; */
  break-before: page;
}

.header-body-item-card .text-content, .text-content-body {
  /* page-break-inside: avoid; */
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
}

@media print {
  body {
    background-color: transparent !important;

    height: auto;
  }

  header {
    display: none !important;
  }

  .questionnaire-details .content-card-body {
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

@media print {
  .printHeader,
  .header-space {
    height: 100px;
  }

  .printHeader {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    /* Ensures visibility in all browsers */
  }

  .printHeader img {
    height: 100%;
  }

  .printFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    /* Avoids disappearing in some browsers */
  }

  .footer-space {
    height: 40px;
  }
}