.list.content-card,
.first-page,
tbody td:not(:last-child) {
  page-break-after: always;
  break-after: page;
}

.header-body-item-card .text-content,
.text-content-body,
tbody tr {
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
}

@media print {
  body {
    background-color: transparent !important;
    height: auto;
  }

  header {
    display: none !important;
  }

  .questionnaire-details .content-card-body {
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

@media print {
  .printHeader {
    display: table-header-group !important;
  }
}