.report-not-found .content-cards {
    display: none;
}

.report-not-found .content-card {
    border: none;

    animation: 1s infinite alternate skeleton;
}

.report-not-found button.print {
    display: none;
}

.report-not-found .report-not-found-message {
    display: block;
}