@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'montHeavy';
  src: url('/fonts/mont-heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'neue-montreal-regular';
  src: url('/fonts/neue-montreal-regular.otf') format('opentype');
}

:root {
  --primary-color-blue: #105BBF;
}

body {
  min-width: 300px;
  font-family: 'Montserrat', 'neue-montreal-regular', system-ui, serif;
  font-optical-sizing: auto;
  background-color: #f3f3f3;
  margin: 0;
}

img {
  object-fit: contain;
}

header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid rgb(219, 219, 219);
}

button.print {
  border-radius: 5px;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid var(--primary-color-blue);
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;

  background-color: var(--primary-color-blue);
  color: #ffffff;
}

button.print:hover {
  background-color: #ffffff;
  color: var(--primary-color-blue);
}

.printable {
  max-width: 1000px;
  margin: 0 auto;
}

.content-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2em;
  padding: 1.2em;
}

.content-card {
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);

  padding: 1.2em;
  border-radius: 10px;
  gap: 14px;
}

.content-card-body {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.report-modules.how-to-content .content-card-body {
  gap: 1.4em;
}

.content-card-title {
  font-family: 'montHeavy';
  text-align: center;
  font-size: large;
}

.candidate-name {
  text-align: center;
}

.candidate-email {
  text-align: center;
  color: rgb(132, 131, 131);
  font-size: small;
}

.content-card.full-width {
  grid-column: span 1;
}

.detail-title {
  color: rgb(132, 131, 131);
}

.header-body-item-card {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;

  padding: 1.2em;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1.2em;
}

.text-content .title {
  font-weight: 600;
}

.text-content .body {
  padding: 1em;
}

.score-gauge {
  max-height: 200px;
}

@media (min-width: 590px) {
  .content-cards {
    grid-template-columns: 1fr 2fr;
  }

  .content-card.full-width {
    grid-column: span 2;
  }
}

@media print {
  body {
    margin: 10px 0;
  }

  header {
    display: none;
  }

  .content-card {
    page-break-inside: avoid;
  }

  ul,
  ol,
  li,
  p {
    page-break-inside: avoid;
  }
}